chatflow/_static/json/SlackCatChoose.json
[
    {
        "id": "f62c4d8b.bad2c",
        "type": "tab",
        "label": "Flow 1",
        "in": [],
        "out": [],
        "wires": []
    },
    {
        "id": "c3f0d2bf.c903e",
        "type": "KITT.AI",
        "name": "",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 390,
        "y": 80,
        "wires": [
            [
                "8aba0d18.ae6d8"
            ]
        ],
        "method": "GET",
        "ret": "obj",
        "url": ""
    },
    {
        "id": "8aba0d18.ae6d8",
        "type": "router",
        "name": "",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 640,
        "y": 80,
        "wires": [
            [
                "96595f22.48e6d"
            ]
        ],
        "debugOutput": "console",
        "sessionprop": "kitt._session_id",
        "userprop": "kitt._user_id",
        "timeout": "1800"
    },
    {
        "id": "679ba170.5c0a1",
        "type": "enter",
        "name": "Cats",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 190,
        "y": 660,
        "wires": [
            [
                "1f60cf03.4ab701"
            ]
        ],
        "outputs": 1,
        "rules": [
            {
                "v": "Cat",
                "p": "NLU.intent",
                "t": "eq"
            }
        ],
        "directlink": false,
        "initialstate": false
    },
    {
        "id": "72e9c5d7.7233cc",
        "type": "slack-in",
        "name": "",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 190,
        "y": 80,
        "wires": [
            [
                "c3f0d2bf.c903e"
            ]
        ],
        "slackbot": "d5bd0c11.5edc1"
    },
    {
        "id": "af3cbd89.1ed03",
        "type": "http request",
        "name": "Get random cat",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 920,
        "y": 720,
        "wires": [
            [
                "4214df1.952892"
            ]
        ],
        "method": "GET",
        "ret": "obj",
        "url": "http://random.cat/meow"
    },
    {
        "id": "96595f22.48e6d",
        "type": "slack-out",
        "name": "",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 1210,
        "y": 80,
        "wires": [],
        "slackbot": "d5bd0c11.5edc1"
    },
    {
        "id": "2b13005b.7b27e",
        "type": "http request",
        "name": "Get random cat",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 920,
        "y": 820,
        "wires": [
            [
                "6883845d.edcbdc"
            ]
        ],
        "method": "GET",
        "ret": "obj",
        "url": "http://random.cat/meow"
    },
    {
        "id": "1f60cf03.4ab701",
        "type": "function",
        "name": "If previous game ended",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 430,
        "y": 740,
        "wires": [
            [
                "ff8b8313.a251",
                "ffa72108.fa5be"
            ]
        ],
        "func": "var timer=global.get('timer');\nmsg.timer=timer;\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "4214df1.952892",
        "type": "change",
        "name": "Index the first message",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 1160,
        "y": 720,
        "wires": [
            [
                "c52cca97.e0fec8"
            ]
        ],
        "rules": [
            {
                "tot": "num",
                "to": "0",
                "pt": "msg",
                "p": "index",
                "t": "set"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false
    },
    {
        "id": "6883845d.edcbdc",
        "type": "change",
        "name": "Index the second message",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 1170,
        "y": 820,
        "wires": [
            [
                "c52cca97.e0fec8"
            ]
        ],
        "rules": [
            {
                "tot": "num",
                "to": "1",
                "pt": "msg",
                "p": "index",
                "t": "set"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false
    },
    {
        "id": "7b8a6923.4a2be8",
        "type": "http in",
        "name": "buttons callback",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 200,
        "y": 320,
        "wires": [
            [
                "22d3aa2c.c11bf6"
            ]
        ],
        "url": "/select",
        "method": "post",
        "swaggerDoc": ""
    },
    {
        "id": "3e559896.a4cf98",
        "type": "debug",
        "name": "",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "b6ae1cd9.c2306",
        "type": "http response",
        "name": "",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 1133,
        "y": 315,
        "wires": []
    },
    {
        "id": "c3bdd110.3f09",
        "type": "http in",
        "name": "redirect",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 190,
        "y": 400,
        "wires": [
            [
                "847b586d.4305f8"
            ]
        ],
        "url": "/redirect",
        "method": "get",
        "swaggerDoc": ""
    },
    {
        "id": "21c58bee.b59524",
        "type": "http in",
        "name": "slash command",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 190,
        "y": 260,
        "wires": [
            [
                "bfb53624.27bf58"
            ]
        ],
        "url": "/randomCat",
        "method": "post",
        "swaggerDoc": ""
    },
    {
        "id": "d576a8e9.b30248",
        "type": "http request",
        "name": "oauth request",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 580,
        "y": 400,
        "wires": [
            [
                "8f465751.1d11a8"
            ]
        ],
        "method": "GET",
        "ret": "obj",
        "url": "https://slack.com/api/oauth.access?client_id={{{payload.client_id}}}&client_secret={{{payload.client_secret}}}&redirect_uri={{{payload.redirect_uri}}}&code={{{payload.code}}}"
    },
    {
        "id": "8b2c8956.098e18",
        "type": "http request",
        "name": "Get random cat",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "1a896b59.072a45"
            ]
        ],
        "method": "GET",
        "ret": "obj",
        "url": "http://random.cat/meow"
    },
    {
        "id": "1a896b59.072a45",
        "type": "function",
        "name": "answer with random cat",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 829,
        "y": 160,
        "wires": [
            [
                "b6ae1cd9.c2306"
            ]
        ],
        "func": "msg.slack={};\nmsg.slack.channel=global.get(\"random\").channel_id;\nmsg.slack.user=global.get(\"random\").user_id;\nmsg.slack.text = \"Here is your Cat\";\nmsg.slack.attachments=[\n    {\n        text:\"Random Cat\",\n        image_url: msg.payload.file\n    }\n];\nmsg.payload=msg.slack;\nnode.log(msg.slack);\ndelete msg.slack;\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "20424e4b.aec522",
        "type": "comment",
        "name": "Callback endpoints",
        "z": "f62c4d8b.bad2c",
        "info": "/randomCat - for /random command\n/select - for button endpoint\n/redirect - for \"Add to Slack\"",
        "in": [],
        "out": [],
        "x": 210,
        "y": 220,
        "wires": []
    },
    {
        "id": "847b586d.4305f8",
        "type": "function",
        "name": "App credentials",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "d576a8e9.b30248"
            ]
        ],
        "func": "var params=msg.payload;\nmsg.payload={\n    redirect_uri:\"\",\n    client_secret:\"\",\n    client_id:\"\",\n    code:params.code\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "9017fc51.632ea",
        "type": "comment",
        "name": "Dialogue",
        "z": "f62c4d8b.bad2c",
        "info": "",
        "in": [],
        "out": [],
        "x": 190,
        "y": 480,
        "wires": []
    },
    {
        "id": "22d3aa2c.c11bf6",
        "type": "function",
        "name": "Tell who press the button",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 610,
        "y": 320,
        "wires": [
            [
                "b6ae1cd9.c2306",
                "36cf0140.48dfae"
            ]
        ],
        "func": "var body=JSON.parse(msg.req.body.payload)\n\nvar voters=global.get(\"voters\");\nif(!voters[body.user.name])\n{\n    voters[body.user.name]=1;\n    global.set(\"voters\",voters);\n    \n    msg.payload=\"@\"+body.user.name+\" selected \"+body.actions[0].name;\n    \n    var selection=global.get('selection') || {};\n    var teams=global.get('teams') || {};\n    \n    if(!selection[body.actions[0].name])\n        selection[body.actions[0].name]=0;\n        \n    if(!teams[body.actions[0].name])\n        teams[body.actions[0].name]={};\n        \n    teams[body.actions[0].name][body.user.name]=1\n        \n    selection[body.actions[0].name]++;\n    \n    global.set('selection',selection)\n}\nelse\n{\n    msg.payload=\"@\"+body.user.name+\" tried to vote second time. No cheaters allowed }=)\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "a296a5c8.211348",
        "type": "delay",
        "name": "Wait until the game ends",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 950,
        "y": 920,
        "wires": [
            [
                "681d18a7.d27218"
            ]
        ],
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false
    },
    {
        "id": "681d18a7.d27218",
        "type": "state",
        "name": "Define the winners",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 1190,
        "y": 920,
        "wires": [
            []
        ],
        "func": "var winner;\nvar winnerCount=-1;\nvar selection=global.get('selection')\nvar teams=global.get('teams')\nfor(var cat in selection){\n    if(selection[cat]>winnerCount)\n    {\n        winnerCount=selection[cat];\n        winner=cat;\n    }\n}\nmsg.payload=\"And the winner is \"+winner+\"\\n\";\nvar players=[];\nfor(player in teams[winner]){\n    players.push(\"@\"+player);\n}\n\nmsg.payload+=\"Thanks \"+players.join(', ')+\" for playing\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "response": "",
        "finalstate": false
    },
    {
        "id": "ed0ba9d3.db62a8",
        "type": "inject",
        "name": "",
        "topic": "",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 170,
        "y": 840,
        "wires": [
            [
                "1586f9ea.bd3e76"
            ]
        ],
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false
    },
    {
        "id": "1586f9ea.bd3e76",
        "type": "function",
        "name": "",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 330,
        "y": 920,
        "wires": [
            []
        ],
        "func": "var timer=global.get('timer');\nif(timer)\n{\n    timer--;\n    global.set('timer',timer)\n}",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "ff8b8313.a251",
        "type": "function",
        "name": "else - start the game",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 680,
        "y": 820,
        "wires": [
            [
                "af3cbd89.1ed03",
                "2b13005b.7b27e",
                "a296a5c8.211348"
            ]
        ],
        "func": "if(!msg.timer){\n    msg.kitt=msg.kitt || {}\n    global.set('cats',[])\n    global.set('timer',60)\n    global.set('selection',{})\n    global.set('teams',{})\n    global.set('voters',{})\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "ffa72108.fa5be",
        "type": "function",
        "name": "then",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 650,
        "y": 660,
        "wires": [
            [
                "7c75fed3.9c5cd"
            ]
        ],
        "func": "if(msg.timer)\n    return msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "7c75fed3.9c5cd",
        "type": "state",
        "name": "Wait when previous game end",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 970,
        "y": 660,
        "wires": [
            []
        ],
        "func": "msg.payload=\"You did not finish the old game! \"+msg.timer+\" seconds left\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "response": "",
        "finalstate": false
    },
    {
        "id": "48a5994.4a7ea68",
        "type": "state",
        "name": "Choose cat with buttons",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 1910,
        "y": 820,
        "wires": [
            []
        ],
        "func": "global.set('slack',msg.slack)\nmsg.payload=\"The cat game\"\nmsg.slack.attachments=[\n    {\n        \"text\":\"Choose your cat\",\n        \"callback_id\":\"cat_selection\",\n        \"actions\": [\n            {\n                \"name\": \"Cat 1\",\n                \"text\": \"Cat 1\",\n                \"type\": \"button\",\n                \"value\": \"cat1\"\n            },\n            {\n                \"name\": \"Cat 2\",\n                \"text\": \"Cat 2\",\n                \"type\": \"button\",\n                \"value\": \"cat2\"\n            }\n        ]\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "response": "",
        "finalstate": false
    },
    {
        "id": "1992d24f.2d3dae",
        "type": "state",
        "name": "Show two cats",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 1700,
        "y": 760,
        "wires": [
            []
        ],
        "func": "var cats=global.get('cats');\n\nmsg.payload=\"Choose your cat\"\nmsg.slack.attachments=[\n    {\n        text:\"Cat 1\",\n        image_url:cats[0]\n    },\n    {\n        text:\"Cat 2\",\n        image_url:cats[1]\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "response": "",
        "finalstate": false
    },
    {
        "id": "c52cca97.e0fec8",
        "type": "function",
        "name": "Wait and join two messages",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 1440,
        "y": 820,
        "wires": [
            [
                "1992d24f.2d3dae",
                "53a617f8.961a78"
            ]
        ],
        "func": "var cats=global.get('cats');\ncats.push(msg.payload.file);\nglobal.set('cats',cats)\n\nif(cats.length==2){\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "53a617f8.961a78",
        "type": "delay",
        "name": "Wait 3 sec",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 1690,
        "y": 820,
        "wires": [
            [
                "48a5994.4a7ea68"
            ]
        ],
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false
    },
    {
        "id": "36cf0140.48dfae",
        "type": "function",
        "name": "Ask again",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 868,
        "y": 254,
        "wires": [
            [
                "b6ae1cd9.c2306"
            ]
        ],
        "func": "var timer=global.get('timer');\nmsg.slack = global.get('slack',msg.slack)\nif(timer){\n    msg.slack=\"Someone else? \"+timer+\" seconds left until the end of the game\";\n    msg.slack.attachments=[\n        {\n            \"text\": \"Choose your cat\",\n            \"callback_id\":\"cat_selection\",\n            \"actions\": [\n                {\n                    \"name\": \"Cat 1\",\n                    \"text\": \"Cat 1\",\n                    \"type\": \"button\",\n                    \"value\": \"cat1\"\n                },\n                {\n                    \"name\": \"Cat 2\",\n                    \"text\": \"Cat 2\",\n                    \"type\": \"button\",\n                    \"value\": \"cat2\"\n                }\n            ]\n        }\n    ];\n    msg.payload = msg.slack;\n    delete msg.slack;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "dafed172.f30a1",
        "type": "inject",
        "name": "Reset timer",
        "topic": "",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "45ea53fe.adf4cc"
            ]
        ],
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": ""
    },
    {
        "id": "45ea53fe.adf4cc",
        "type": "function",
        "name": "",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 340,
        "y": 1040,
        "wires": [
            []
        ],
        "func": "global.set('timer',0);",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "32f1478e.8aa728",
        "type": "enter",
        "name": "Hello",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 190,
        "y": 600,
        "wires": [
            [
                "230180c0.3aca9"
            ]
        ],
        "outputs": 1,
        "rules": [
            {
                "v": "Hello",
                "p": "NLU.intent",
                "t": "eq"
            }
        ],
        "directlink": false,
        "initialstate": false
    },
    {
        "id": "14fa2903.932c97",
        "type": "enter",
        "name": "Initial state",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 190,
        "y": 520,
        "wires": [
            [
                "230180c0.3aca9"
            ]
        ],
        "outputs": 1,
        "rules": [
            {
                "v": "",
                "p": "payload",
                "t": "eq"
            }
        ],
        "directlink": false,
        "initialstate": true
    },
    {
        "id": "230180c0.3aca9",
        "type": "state",
        "name": "Say: Hello",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 410,
        "y": 560,
        "wires": [
            []
        ],
        "func": "// update msg.kitt:\n\n// msg.kitt.??? = ???;\n\n// update msg.kitt._responses (a list):\n// members of msg.kitt._responses will be randomly\n// selected and concatenated to msg.reply,\n// which is the final output message back to user.\n\n// msg.kitt._responses = [???];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "response": "Hello",
        "finalstate": false
    },
    {
        "id": "8f465751.1d11a8",
        "type": "function",
        "name": "respond bot token",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 790,
        "y": 400,
        "wires": [
            [
                "b6ae1cd9.c2306",
                "3e559896.a4cf98"
            ]
        ],
        "func": "msg.payload=\"Your bot access token: \"+msg.payload.bot.bot_access_token;\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "bfb53624.27bf58",
        "type": "function",
        "name": "",
        "z": "f62c4d8b.bad2c",
        "in": [],
        "out": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "8b2c8956.098e18"
            ]
        ],
        "func": "global.set(\"random\",msg.payload)\nnode.log(msg.payload)\nmsg.command=msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    }
]
