chatflow/cn/html/_static/json/FacebookWeatherForecast.json
[
    {
        "id": "43f253fe.8931fc",
        "type": "tab",
        "label": "Flow 1",
        "in": [],
        "out": [],
        "wires": []
    },
    {
        "id": "cad6025c.55051",
        "type": "facebook-in",
        "name": "",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 176,
        "y": 115,
        "wires": [
            [
                "4253a234.bd024c"
            ]
        ],
        "facebook": "e1bd2dd4.56f3a"
    },
    {
        "id": "85b6a40d.766b88",
        "type": "facebook-out",
        "name": "",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 1002,
        "y": 122,
        "wires": [],
        "facebook": "e1bd2dd4.56f3a"
    },
    {
        "id": "89982229.b9eee",
        "type": "KITT.AI",
        "name": "",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 581,
        "y": 122,
        "wires": [
            [
                "da825b05.9da268"
            ]
        ],
        "method": "GET",
        "ret": "obj",
        "url": ""
    },
    {
        "id": "da825b05.9da268",
        "type": "router",
        "name": "",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 771,
        "y": 122,
        "wires": [
            [
                "85b6a40d.766b88"
            ]
        ],
        "timeout": "1800",
        "userprop": "kitt._user_id",
        "sessionprop": "kitt._session_id",
        "debugOutput": "console"
    },
    {
        "id": "7624811a.30107",
        "type": "enter",
        "name": "hello",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 170,
        "y": 300,
        "wires": [
            [
                "1d3ee9ff.5d8b66"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "v": "hello",
                "p": "NLU.intent",
                "t": "eq"
            }
        ]
    },
    {
        "id": "1d3ee9ff.5d8b66",
        "type": "state",
        "name": "state",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 390,
        "y": 300,
        "wires": [
            []
        ],
        "func": "global.set(\"place\",null);\nmsg.payload='Hello!\\n I can tell you current weather and forecast in different cities of the world';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": false,
        "response": ""
    },
    {
        "id": "1272ca00.adbc86",
        "type": "enter",
        "name": "initial",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 170,
        "y": 240,
        "wires": [
            [
                "1d3ee9ff.5d8b66"
            ]
        ],
        "outputs": 1,
        "initialstate": true,
        "directlink": false,
        "rules": [
            {
                "v": "hello",
                "p": "NLU.intent",
                "t": "eq"
            }
        ]
    },
    {
        "id": "f5af7c53.d69ec",
        "type": "enter",
        "name": "bye",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 170,
        "y": 400,
        "wires": [
            [
                "ddc42322.7354a"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "v": "bye",
                "p": "NLU.intent",
                "t": "eq"
            }
        ]
    },
    {
        "id": "ddc42322.7354a",
        "type": "state",
        "name": "state",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 390,
        "y": 400,
        "wires": [
            []
        ],
        "func": "msg.payload=\"See you later, alligator!\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": ""
    },
    {
        "id": "fa20cd70.52f7c",
        "type": "enter",
        "name": "weather",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 170,
        "y": 500,
        "wires": [
            [
                "8cf76e17.7b49a"
            ]
        ],
        "outputs": 1,
        "rules": [
            {
                "v": "weather",
                "p": "NLU.intent",
                "t": "eq"
            }
        ],
        "directlink": false,
        "initialstate": false
    },
    {
        "id": "8cf76e17.7b49a",
        "type": "function",
        "name": "Set place",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "dc284a3d.941398",
                "dddef39d.fe3ac"
            ]
        ],
        "func": "if(msg.NLU && msg.NLU.entities && \nmsg.NLU.entities[\"place\"])\n{\n    global.set(\"place\",msg.NLU.entities[\"place\"])\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "dc284a3d.941398",
        "type": "function",
        "name": "No place?",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 570,
        "y": 460,
        "wires": [
            [
                "55cefb09.cea204"
            ]
        ],
        "func": "if(global.get(\"place\"))\n    return null\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "55cefb09.cea204",
        "type": "state",
        "name": "Ask place",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 780,
        "y": 460,
        "wires": [
            []
        ],
        "func": "msg.payload=\"Plase name your city\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "dddef39d.fe3ac",
        "type": "function",
        "name": "there is a place",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "c252e053.4026d",
                "b37bd7c8.5ea328"
            ]
        ],
        "func": "if(global.get(\"place\")){\n    //set the HTTP parameters\n    msg.api_key=\"367ffb8441b3bc572bec61e86b252aa4\";\n    msg.city=global.get(\"place\");\n    \n    return msg;\n}\n    \nreturn null;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "15d9d14d.b8cdef",
        "type": "http request",
        "name": "",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 710,
        "y": 660,
        "wires": [
            [
                "8ca9070b.619da8"
            ]
        ],
        "url": "http://api.openweathermap.org/data/2.5/weather?appid={{{api_key}}}&q={{{city}}}&units=metric",
        "ret": "obj",
        "method": "GET"
    },
    {
        "id": "8ca9070b.619da8",
        "type": "state",
        "name": "state",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 950,
        "y": 660,
        "wires": [
            []
        ],
        "func": "var data=msg.payload\n\nvar state=data.weather[0].main;\nvar icon='http://openweathermap.org/img/w/'+data.weather[0].icon+'.png';\nvar temperatrure=data.main.temp;\nvar pressure=data.main.pressure;\nvar humidity=data.main.humidity;\nvar windSpeed=data.wind.speed;\nvar windDegree=data.wind.deg;\n\nvar getWindDirectionByDegree = function (degree) {\n    var directions = ['NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW',\n        'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW', 'N'];\n\n    for (var i = 0; i < directions.length; i++) {\n        degree -= 22.5;\n        if (degree < 0)\n            return directions[i];\n    }\n\n    return directions[i];\n}\n\nvar windDirection=getWindDirectionByDegree(windDegree);\n\nvar buttons=[\n{\n    \"type\":\"postback\",\n    \"title\":\"Forecast\",\n    \"payload\":\"forecast\"\n},\n{\n    \"type\":\"web_url\",\n    \"title\":\"Bot created at ChatFlow\",\n    \"url\":\"https://chatflow.kitt.ai\"\n}]\n\nmsg.facebook.attachment={\n  \"type\":\"template\",\n  \"payload\":{\n    \"template_type\":\"generic\",\n    \"elements\":[\n      {\n        \"title\":\"Today's weather at \"+msg.city+\":\",\n        \"image_url\":icon,\n        \"subtitle\":state,\n        \"buttons\":buttons\n      },\n      {\n          \"title\":\"Temperature:\",\n          \"subtitle\":temperatrure+\" °C\",\n          \"buttons\":buttons\n      },\n      {\n          \"title\":\"Wind:\",\n          \"subtitle\":windSpeed+\" m/s \"+windDirection,\n          \"buttons\":buttons\n      },\n      {\n          \"title\":\"pressure:\",\n          \"subtitle\":pressure+\" hpa\",\n          \"buttons\":buttons\n      },\n      {\n          \"title\":\"Humidity:\",\n          \"subtitle\":humidity+\" %\",\n          \"buttons\":buttons\n      }\n    ]\n  }\n}\n\nmsg.payload=null;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": false,
        "response": ""
    },
    {
        "id": "c252e053.4026d",
        "type": "function",
        "name": "Today?",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 430,
        "y": 660,
        "wires": [
            [
                "15d9d14d.b8cdef"
            ]
        ],
        "func": "if(!msg.NLU.entities[\"time\"] || msg.NLU.entities[\"time\"]==\"today\" || msg.NLU.entities[\"time\"]==\"now\")\n    return msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "b37bd7c8.5ea328",
        "type": "function",
        "name": "Forecast?",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 430,
        "y": 740,
        "wires": [
            [
                "9e293726.7a60e8"
            ]
        ],
        "func": "if(msg.NLU.entities[\"time\"] && (msg.NLU.entities[\"time\"]!=\"today\" && msg.NLU.entities[\"time\"]!=\"now\"))\n    return msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "eef7b5a9.523f48",
        "type": "state",
        "name": "state",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 950,
        "y": 740,
        "wires": [
            []
        ],
        "func": "var data=msg.payload\n\nvar states=[];\nvar icons=[];\nvar temps=[];\n\nmsg.payload.list.forEach(function(item){\n    states.push(item.weather[0].main);\n    icons.push('http://openweathermap.org/img/w/'+item.weather[0].icon+'.png');\n    temps.push(item.temp.min+\" - \"+item.temp.max+\" °C\");\n})\n\nvar daysOfWeek=[\"Sunday\",\"Monday\",\"Tuesday\",\"Wednsday\",\"Thursday\",\"Friday\",\"Saturday\"]\ndays=[];\nvar day=(new Date()).getDay();\nfor(var i=0;i<states.length;i++){\n    days.push(daysOfWeek[day]);\n    \n    day++;\n    if(day>=7)\n        day=0;\n}\n\nvar buttons=[\n{\n    \"type\":\"postback\",\n    \"title\":\"Today\",\n    \"payload\":\"today\"\n},\n{\n    \"type\":\"web_url\",\n    \"title\":\"Bot created at ChatFlow\",\n    \"url\":\"https://chatflow.kitt.ai\"\n}]\n\nvar elements=[];\n\nfor(var i=0;i<states.length;i++){\n    elements.push({\n        \"title\":days[i],\n        \"image_url\":icons[i],\n        \"subtitle\":(states[i]+\" \"+temps[i]),\n        \"buttons\":buttons\n    });\n}\n\nmsg.facebook.attachment={\n  \"type\":\"template\",\n  \"payload\":{\n    \"template_type\":\"generic\",\n    \"elements\":elements\n  }\n}\n\nmsg.payload=null;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": false,
        "response": ""
    },
    {
        "id": "9e293726.7a60e8",
        "type": "http request",
        "name": "",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 710,
        "y": 740,
        "wires": [
            [
                "eef7b5a9.523f48"
            ]
        ],
        "url": "api.openweathermap.org/data/2.5/forecast/daily?appid={{{api_key}}}&q={{{city}}}&units=metric",
        "ret": "obj",
        "method": "GET"
    },
    {
        "id": "4253a234.bd024c",
        "type": "switch",
        "name": "filter out receipt",
        "z": "43f253fe.8931fc",
        "in": [],
        "out": [],
        "x": 376,
        "y": 115,
        "wires": [
            [],
            [
                "89982229.b9eee"
            ]
        ],
        "outputs": 2,
        "checkall": "true",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "propertyType": "msg",
        "property": "facebook.message.message"
    }
]