chatflow/cn/html/_static/json/YelpTelegramBot.json
[
    {
        "id": "69c1dc24.35ef14",
        "type": "tab",
        "label": "Flow 1",
        "in": [],
        "out": [],
        "wires": []
    },
    {
        "id": "19b51524.9f47eb",
        "type": "telegram-in",
        "name": "",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 130,
        "y": 121,
        "wires": [
            [
                "bfbd9d4c.069cd",
                "41660353.73b46c"
            ]
        ],
        "controller": "f6a59725.0bcb18"
    },
    {
        "id": "bfbd9d4c.069cd",
        "type": "switch",
        "name": "1: inline 2: direct",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 335.90625,
        "y": 140,
        "wires": [
            [
                "1d93f752.159389"
            ],
            [
                "429179c3.06b8e8"
            ]
        ],
        "outputs": 2,
        "checkall": "true",
        "rules": [
            {
                "vt": "str",
                "v": "inline_query",
                "t": "eq"
            },
            {
                "vt": "str",
                "v": "inline_query",
                "t": "neq"
            }
        ],
        "propertyType": "msg",
        "property": "telegram.type"
    },
    {
        "id": "429179c3.06b8e8",
        "type": "router",
        "name": "",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 705.90625,
        "y": 148,
        "wires": [
            [
                "dd15110d.d7c7c"
            ]
        ],
        "timeout": "0",
        "userprop": "kitt._user_id",
        "sessionprop": "kitt._session_id"
    },
    {
        "id": "5401ec56.df3414",
        "type": "Yelp",
        "name": "",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 635,
        "y": 333,
        "wires": [
            [
                "aebe5294.b35e9",
                "5d30c91a.b07b68"
            ]
        ],
        "limit": "",
        "longitude": "",
        "latitude": "",
        "location": "",
        "term": ""
    },
    {
        "id": "4b1587ab.cf7b18",
        "type": "enter",
        "name": "",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 133.90625,
        "y": 229,
        "wires": [
            [
                "ad675693.3b7718"
            ]
        ],
        "outputs": 1,
        "initialstate": true,
        "directlink": false,
        "rules": []
    },
    {
        "id": "ad675693.3b7718",
        "type": "state",
        "name": "state",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 314.90625,
        "y": 229,
        "wires": [
            []
        ],
        "func": "// update msg.kitt:\n\nmsg.kitt.address = null;\nmsg.kitt.ll = null;\nmsg.kitt.business = null;\n\n// update msg.kitt._responses (a list):\n// members of msg.kitt._responses will be randomly\n// selected and concatenated to msg.reply,\n// which is the final output message back to user.\n\n// msg.kitt._responses = [???];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "finalstate": false,
        "response": ""
    },
    {
        "id": "f7b07ddb.8bd3f",
        "type": "enter",
        "name": "got business & GPS",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 169,
        "y": 306,
        "wires": [
            [
                "fb75c6aa.ef30d8"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "p": "NLU.business",
                "t": "nnull"
            },
            {
                "p": "NLU.ll",
                "t": "nnull"
            }
        ]
    },
    {
        "id": "fb75c6aa.ef30d8",
        "type": "function",
        "name": "prepare request",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 418.90625,
        "y": 312,
        "wires": [
            [
                "5401ec56.df3414"
            ]
        ],
        "func": "// prepare yelp search\nmsg.kitt.business = msg.NLU.business;\n\nmsg.kitt.ll = msg.NLU.ll;\n\nmsg.yelp = {term: msg.kitt.business, \n    ll: msg.kitt.ll};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "aebe5294.b35e9",
        "type": "state",
        "name": "state",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 843.90625,
        "y": 331,
        "wires": [
            []
        ],
        "func": "var results = msg.payload.businesses;\n\nif (results.length > 0) { \nvar responses = [];\nfor (var i=0; i<results.length; i++) {\n    var result = results[i];\n    var categories = [];\n    for (var j=0; j<result.categories.length; j++) {\n        categories.push(result.categories[j][\"title\"]);\n    }\n    responses.push({\n        type: \"venue\",\n        id: result.id,\n        title: result.name + \" (\" + categories.join(\", \") + \")\",\n        thumb_url: result.image_url,\n        latitude: result.coordinates.latitude,\n        longitude: result.coordinates.longitude,\n        address: result.review_count + \" reviews. Rating: \" + result.rating + \". \\n\" +\n                result.location.display_address.join(\" \")\n    });\n}\n    msg.payload = responses;\n    return msg;\n} else {\n    msg.payload = [{\n        type: \"article\",\n        id: \"no-result\",\n        title: \"No Yelp Result Found\",\n        input_message_content: {\n            message_text: 'e.g., \"dinner near downtown Chicago\"'\n        },\n        description: 'e.g., \"dinner near downtown Chicago\"'\n    }];\n\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "finalstate": true,
        "response": "",
        "requestUserInput": false
    },
    {
        "id": "1d93f752.159389",
        "type": "function",
        "name": "Simple NLU for Inline Query",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 527,
        "y": 87,
        "wires": [
            [
                "429179c3.06b8e8"
            ]
        ],
        "func": "var query = msg.payload.trim();\nif (!query)\n    // don't output empty msg\n    return;\n\nvar splits = query.split(\" near \");\nvar split_len = splits.length;\n\nif (!msg.NLU) {\n    msg.NLU = {};\n}\n\nif (split_len == 1) {\n    msg.NLU.business = splits[0];\n} else {\n    // \"chinese food near downtown seattle\"\n    msg.NLU.business = splits[0];\n    msg.NLU.address = splits[1];\n}\n\ntry {\n    if (msg.telegram.inline_query.location.latitude) {\n        // we got GPS coordinates from mobile\n        msg.NLU.ll = msg.telegram.inline_query.location.latitude+\",\"+\n            msg.telegram.inline_query.location.longitude;\n    }\n} catch (err) {}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "dd15110d.d7c7c",
        "type": "telegram-out",
        "name": "",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 902,
        "y": 148,
        "wires": [],
        "controller": "f6a59725.0bcb18"
    },
    {
        "id": "5539dc61.dc1554",
        "type": "enter",
        "name": "got business & address",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 165,
        "y": 388,
        "wires": [
            [
                "879dc422.3f8728"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "p": "NLU.business",
                "t": "nnull"
            },
            {
                "p": "NLU.address",
                "t": "nnull"
            }
        ]
    },
    {
        "id": "879dc422.3f8728",
        "type": "function",
        "name": "prepare request",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 413.90625,
        "y": 382,
        "wires": [
            [
                "5401ec56.df3414"
            ]
        ],
        "func": "// prepare yelp search\nmsg.kitt.business = msg.NLU.business;\n\nmsg.kitt.address = msg.NLU.address;\n\nmsg.yelp = {term: msg.kitt.business, \n    location: msg.kitt.address};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "57fdddc1.8710f4",
        "type": "enter",
        "name": "got business & address & GPS",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 167,
        "y": 452,
        "wires": [
            [
                "879dc422.3f8728"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "t": "nnull",
                "p": "NLU.business"
            },
            {
                "t": "nnull",
                "p": "NLU.address"
            },
            {
                "t": "nnull",
                "p": "NLU.ll"
            }
        ]
    },
    {
        "id": "fa02e8c.679be18",
        "type": "state",
        "name": "ask for address",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 734,
        "y": 461,
        "wires": [
            []
        ],
        "func": "msg.NLU.business = null;\nmsg.payload = [{\n    type: \"article\",\n    id: \"no-address\",\n    title: \"No Address Detected\",\n    input_message_content: {\n        message_text: 'e.g., \"dinner near downtown Chicago\"'\n    },\n    description: 'e.g., \"dinner near downtown Chicago\"'\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "finalstate": false,
        "response": ""
    },
    {
        "id": "7cd53a5.57517c4",
        "type": "enter",
        "name": "context: no address",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 511,
        "y": 460,
        "wires": [
            [
                "fa02e8c.679be18"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "t": "null",
                "p": "kitt.address"
            },
            {
                "t": "nnull",
                "p": "NLU.business"
            },
            {
                "t": "null",
                "p": "NLU.address"
            },
            {
                "t": "null",
                "p": "NLU.ll"
            }
        ]
    },
    {
        "id": "c02afc90.80408",
        "type": "enter",
        "name": "Direct Message",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 524.90625,
        "y": 230,
        "wires": [
            [
                "5889b0bc.b3c3c"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "v": "text",
                "p": "telegram.type",
                "t": "eq"
            }
        ]
    },
    {
        "id": "5889b0bc.b3c3c",
        "type": "state",
        "name": "Not Supported",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "x": 751,
        "y": 230,
        "wires": [
            []
        ],
        "func": "// update msg.kitt:\n\n// update msg.kitt._responses (a list):\n// members of msg.kitt._responses will be randomly\n// selected and concatenated to msg.reply,\n// which is the final output message back to user.\n\n// msg.kitt._responses = [???];\nnode.log(\"here\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "finalstate": true,
        "response": "Sorry, direct messages are not supported. Use the @ inline mode."
    },
    {
        "id": "41660353.73b46c",
        "type": "debug",
        "name": "",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 300,
        "y": 85,
        "wires": []
    },
    {
        "id": "5d30c91a.b07b68",
        "type": "debug",
        "name": "",
        "z": "69c1dc24.35ef14",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 841.390625,
        "y": 403,
        "wires": []
    }
]